.icon-WareHouse  {  background: url('../Images/icon/Warehouse.png') no-repeat !important;  }
.icon-ProductType  {  background: url('../Images/icon/ProductType.png') no-repeat !important;  }
.icon-Product  {  background: url('../Images/icon/Product.png') no-repeat !important;  }
.icon-TrainType  {  background: url('../Images/icon/TrainType.png') no-repeat !important;  }
.icon-Factory  {  background: url('../Images/icon/Factory.png') no-repeat !important;  }
.icon-Cigarette  {  background: url('../Images/icon/Cigarette.png') no-repeat !important;  }
.icon-InStockType  {  background: url('../Images/icon/InStockType.png') no-repeat !important;  }
.icon-InStockType  {  background: url('../Images/icon/InStockType.png') no-repeat !important;  }
.icon-InStock  {  background: url('../Images/icon/InStock.png') no-repeat !important;  }
.icon-InStockTask  {  background: url('../Images/icon/InStockTask.png') no-repeat !important;  }
.icon-Move  {  background: url('../Images/icon/Move.png') no-repeat !important;  }
.icon-MoveTask  {  background: url('../Images/icon/MoveTask.png') no-repeat !important;  }
.icon-OutStockType  {  background: url('../Images/icon/OutStockType.png') no-repeat !important;  }
.icon-OutStock  {  background: url('../Images/icon/OutStock.png') no-repeat !important;  }
.icon-OutStockTask  {  background: url('../Images/icon/OutStockTask.png') no-repeat !important;  }
.icon-PalletInStock  {  background: url('../Images/icon/PalletInStock.png') no-repeat !important;  }
.icon-PalletOutStock  {  background: url('../Images/icon/PalletOutStock.png') no-repeat !important;  }
.icon-Query  {  background: url('../Images/icon/Query.png') no-repeat !important;  }
.icon-Power  {  background: url('../Images/icon/Power.png') no-repeat !important;  }
.icon-UserGroup  {  background: url('../Images/icon/UserGroup.png') no-repeat !important;  }
.icon-User  {  background: url('../Images/icon/User.png') no-repeat !important;  }
.icon-PwdModify  {  background: url('../Images/icon/PwdModify.png') no-repeat !important;  }
.icon-OperateLog  {  background: url('../Images/icon/OperateLog.png') no-repeat !important;  }
.icon-BreakLog  {  background: url('../Images/icon/BreakLog.png') no-repeat !important;  }
.icon-Parameter  {  background: url('../Images/icon/Parameter.png') no-repeat !important;  }
.icon-Navigate  {  background: url('../Images/icon/Navigate.png') no-repeat !important;  }
.icon-SoftwareInfo  {  background: url('../Images/icon/SoftwareInfo.png') no-repeat !important;  }
.icon-Car  {  background: url('../Images/icon/Car.png') no-repeat !important;  }
.icon-Crane  {  background: url('../Images/icon/Crane.png') no-repeat !important;  }
.icon-InventoryType  {  background: url('../Images/icon/InStockType.png') no-repeat !important;  }
.icon-Inventory {  background: url('../Images/icon/Inventor.png') no-repeat !important;  }
.icon-InventoryTask  {  background: url('../Images/icon/InventorTask.png') no-repeat !important;  }
.icon-ProductState  {  background: url('../Images/icon/ProductState.png') no-repeat !important;  }