<?xml version="1.0" encoding="utf-8"?>
<Configuration>
  <LogLevel>DEBUG</LogLevel>
  <Attributes>
    <Attribute Name="TimeDiff" Value="60" />
    <Attribute Name="MonitorMode" Value="2" />
    <Attribute Name="BalanceCounter" Value="1" />
  </Attributes>
  <Services>
    <Service Name="CranePLC1" Type="MCP.Service.Siemens.dll, MCP.Service.Siemens.OPCService" ConfigFile="CranePLC1.xml" />
    <Service Name="ConveyorPLC1" Type="MCP.Service.Siemens.dll, MCP.Service.Siemens.OPCService" ConfigFile="ConveyorPLC1.xml" />
    <Service Name="ConveyorPLC2" Type="MCP.Service.Siemens.dll, MCP.Service.Siemens.OPCService" ConfigFile="ConveyorPLC2.xml" />
  </Services>
  <Processes>
    <!--堆垛机Process-->
    <Process Name="CraneProcess" Type="App.exe, App.Dispatching.Process.CraneProcess">
      <Item ServiceName="CranePLC1" ItemName="CraneTaskFinished" />
      <Item ServiceName="CranePLC1" ItemName="Run" />
    </Process>
    <!--入库Process-->
    <Process Name="StockInToStationProcess" Type="App.exe, App.Dispatching.Process.StockInToStationProcess">
      <Item ServiceName="ConveyorPLC1" ItemName="StockInToStation" />
    </Process>
    <!--出库Process-->
    <Process Name="StockOutPalletProcess" Type="App.exe, App.Dispatching.Process.StockOutPalletProcess">
      <Item ServiceName="ConveyorPLC2" ItemName="OutPallet" />
    </Process>
  </Processes>
</Configuration>